/* ---------- ROOTS ---------- */
:root {
  /* Primary colors */
  --clr-yellow: #DCB12D;
  --clr-blue: #2E5599;
  --clr-red: #C5272D;
  --clr-green: #A9CB6B;

  --white: #FFFFFF;
  --black: #000000;
  --d-grey: #363636;
  --l-grey: #EAEAEA;

  /* Secondary colors */
  --clr-d-yellow: #A78726;
  --clr-d-blue: #0A1E5B;
  --clr-d-red: #8D2024;
  --clr-d-green: #56723C;
  --clr-l-yellow: #F6E1A1;
  --clr-l-blue: #AABFED;
  --clr-l-red: #FC9FAA;
  --clr-l-green: #E0F1C1;

  /* Text & Font */
  --ff-body: 'Averta', Verdana, Arial, sans-serif;
  --fs-p-main: 0.8750em; /* Main paragraph size */
  --fs-p-small: 0.7500em;
  --fs-p-large: 1em; 
  --fs-h-large: 3.125em; /* x-Large header size */
  --fs-h-medium: 1.625em; /* Med header size */
  --fs-h-small: 1.5em; /* Small header size */
}


/* ---------- FONT IMPORTS ---------- */
@font-face {
  font-family: 'Averta';
  src: url('assets/fonts/Averta/AvertaPE-Regular.woff2') format('woff2'),
       url('assets/fonts/Averta/AvertaPE-Regular.woff') format('woff'),
       url('assets/fonts/Averta/AvertaPE-Regular.ttf') format('truetype');
}


/* ---------- GENERAL ---------- */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

body {
  font-family: var(--ff-body);
  font-size: 16px; /* default size for em */
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

p {
  font-size: var(--fs-p-main);
}

span {
  font-size: var(--fs-p-main);
}

h1 {
  font-size: var(--fs-h-medium);
}

h2 h3 {
  font-size: var(--fs-h-small);
}

img {
  width: 100%;
}


/* navbar */
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  padding: 2em;
  z-index: 100;
  gap: 2em;
  align-items: flex-end;
  background-color: #262626;
}

nav>ul {
  position: fixed;
  top: 4em;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(182, 214, 240);
  width: 100%;
  height: 100vh;
  text-align: center;
  animation: menu 0.5s ease-in-out;
}

nav>ul>li {
  padding: 1em;
  font-size: 1.5em;
}

nav>ul>li a {
  color: black;
}

.menu {
  display: none;
  transition: 0.2s;
  margin: 1em 0 0 0;
}

.first-icon {
  color: rgb(224, 196, 103);
}

.sec-icon {
  color: white;
}

@keyframes menu {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 100vh;
    opacity: 1;
  }
}

.open {
  display: block;
}

/* burger */
.burger {
  display: flex;
  justify-content: space-evenly;
  gap: 0.3em;
  flex-direction: column;
  cursor: pointer;
}

.lines {
  background-color: white;
  height: 0.2em;
  width: 2em;
  transition: 0.2s;
  z-index: 2;
}

@keyframes line1 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
    position: absolute;
    top: 6%;
    right: 1%;
  }
}

@keyframes line2 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-45deg);
    position: absolute;
    top: 6%;
    right: 1%;
  }
}

@media screen and (max-width: 992px) {
  @keyframes line1 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(45deg);
      position: absolute;
      top: 5%;
      right: 5%;
    }
  }

  @keyframes line2 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-45deg);
      position: absolute;
      top: 5%;
      right: 5%;
    }
  }
}

.open .line1 {
  animation: line1 0.2s ease-in-out forwards;
}

.open .line2 {
  animation: line2 0.2s ease-in-out forwards;
}

.open .line3 {
  display: none;
}

/* logo */
.logowrapper {
  display: flex;
  position: relative;
}

.logo {
  width: 70%;
}

.logoduts {
  width: 20%;
}

.dut {
  position: absolute;
  max-width: 22%;
}

/* logo end */

/* pages */
.section {
  text-align: center;
  width: 100%;
}

.s4 {
  background-color: rgb(253, 203, 147);
  height: 100vh;
}

.s5 {
  background-color: rgb(147, 253, 212);
  height: 100vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

address {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

/* section 1 */
.s1 {
  background-color: #262626;
  background-image: linear-gradient(#262626, #424242);
  height: 100vh;
}

#introduction {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: #262626;
  overflow: hidden;
  top: 0;
  left: 0;
}

.image-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (max-width: 768px) {
  .image-container {
    height: 80vh;
  }
}

.banner-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
}

.image-container {
  background-color: #262626;
}

.content {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
  padding: 1em;
}

h1 {
  z-index: 0;
}

.inner-content {
  justify-content: space-between;
  align-items: b;
  color: white;
  width: 80%;
  margin: 0 auto;
}

.line-progres {
  height: 0.1em;
  background-color: white;
  width: 60%;
  max-width: 1400px;
  position: absolute;
  right: 8%;
  bottom: 12%;
}

.frontpage-logo {
  width: 20%;
  z-index: 10;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5em;
}

.contact {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fixet {
  position: fixed !important;
  top: 0;
}

/* section 2 */
.s2 {
  padding: 10em 0 0 0;
  background-image: linear-gradient(#424242, #262626);
  color: white;
}

.info {
  margin: 5em auto 0 0;
}

.anno {
  font-size: 4em;
}

.s2 .box {
  margin: 0 auto;
}

.s2 span {
  font-size: 0.5em;
}

.left {
  width: 40%;
  margin: 0 auto;
}

.right {
  width: 50%;
}

.right img {
  width: 80%;
  border-radius: 1em;
}

/* section 3 */
.s3 {
  background-color: #262626;
  background-image: linear-gradient(#262626, #424242);
  height: 100vh;
  color: white;
}

.s3 .flex-row {
  gap: 0;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.imgdiv {
  width: 33.3%;
}

.imgdiv img {
  width: 100%;
}

/* section 4 */
.s4 {
  background-image: linear-gradient(#424242, #262626);
  color: white;
}

#video {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: solid 3px black;
  border-radius: 20px;
  z-index: 1;
  width: 70%;
}

/* section 5 */
.s5 {
  background-color: #262626;
  background-image: linear-gradient(#262626, #424242);
  color: white;
}

.sounds {
  display: flex;
  justify-content: space-evenly;
}

.soundbefore,
.soundafter {
  background-color: white;
  padding: 2em;
  border-radius: 0.5em;
  border: none;
  font-size: 1em;
  box-shadow: 1px 1px 10px 1px black;
  border:solid 0.2em rgb(253, 203, 147);
}

/* change style */


/* ---------- PAGE ---------- */
.page {
  height: 100%;
  padding: .5em 2em 10em 2em;
}

.page>.page-title {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
}

/* ---------- GRID CONTAINER ---------- */
.category-cntr {
  margin: 5px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: .8em;
  row-gap: .2em;
}

@media (min-width: 600px) {
  .category-cntr {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .category-cntr {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.category-cntr>.category-article {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 5px 0px;
  padding: 0;
  background-color: var(--white);
  transition: ease-in .2s;
  cursor: pointer;
}

.category-cntr>.category-article .category-img {
  background-image: url("/src/assets/placeholder-img.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  height: 45px;
  width: 100%;
  position: relative;
}

@media (min-width: 600px) {
  .category-cntr>.category-article .category-img {
      height: 50px;
  }
}

@media (min-width: 992px) {
  .category-cntr>.category-article .category-img {
      height: 50px;
  }
}

.category-cntr>.category-article .category-img img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
  filter: brightness(80%);
  transition: ease-in .2s;
}

.category-article:hover .category-img img {
  filter: brightness(95%);
}

.category-article:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .4);
}

.category-title {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.category-title button {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 1px 20px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  transition: ease-in-out .2s;
}

.category-title button.active {
  background-color: rgba(255, 255, 255, .4);
}

.category-title button span {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.8px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}


/* ----- ARTICLE GRID ----- */
.article-cntr {
  margin: 0px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .8em;
}

@media (min-width: 600px) {
  .article-cntr {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .article-cntr {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.article-box {
  height: auto;
  margin-bottom: 2%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  transition: ease-in .2s;
}

.article-box:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .4);
}

.article-box>.article-img {
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("/src/assets/placeholder-img.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.article-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-details {
  height: auto;
  width: auto;
  padding: 5px;
  color: #000;
  font-size: 1em;
  text-align: left;
  word-wrap: break-word;
}

.article-details p {
  margin: 0px;
}

.details-section {
  width: 100%;
  height: 25px;
  margin: 4px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.details-section p {
  margin: 0px;
  font-weight: 600;
  text-transform: capitalize;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ----- Article badges ----- */
.badge-cntr {
  width: auto;
  height: auto;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: solid red 0px;
}

.badge-element {
  width: auto;
  display: flex;
  flex-direction: column;
  border: solid blue 0px;
}

.badge-img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.badge-img img {
  height: 100%;
  width: auto;
}

/* ----- Tooltip ----- */
.tooltip {
  width: auto;
  position: absolute;
  background: rgba(0, 0, 0, .8);
  color: white;
  visibility: hidden;
  padding: 5px;
  border-radius: 5px;
  transform: translate(-75%, -130%);
  text-transform: capitalize;
}

.tooltip-arrow {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translate(-80%, -2%);
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .8) transparent transparent;
}


/* ----- Filter / Search cntr ----- */
.filter-cntr {
  width: 100%;
  margin: 20px 0px 10px 0px;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}

.search {
  padding: 2px 5px;
  border-radius: 0px;
  border: solid black 1px;
  cursor: pointer;
  background-color: transparent;
}

.filter {
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 0;
  border: solid black 1px;
  background-color: transparent;
  cursor: pointer;
}

.filter>option {
  border-radius: 0px;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
}

/* ---------- ARTICLE PAGE ---------- */
.article-page {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Back button */
.back-btn {
  height: 100%;
  border: solid blue 0px;
  background-color: transparent;
  cursor: pointer;
}

.back-btn svg {
  color: var(--clr-blue);
  height: 20px;
  width: auto;
  transition: all .2s ease-out;
}

.back-btn:hover svg {
  color: var(--clr-yellow);
}

.back-btn svg path {
  stroke-width: 1.2px;
}


/* Article Splide image-container  */
.thumbnail-slides {
  background-color: #000;
}


/* Article details */
.article-page>.article-details {
  border: solid red 0px;
  background-color: var(--l-grey);
}

.article-page>.article-details>.details-section {
  border: solid blue 0px;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  align-items: flex-start;
}

.details-text-cntr {
  display: grid;
  grid-template-columns: 2fr .5fr;
  column-gap: 20px;
  border: solid red 0px;
}

.details-text {
  border: solid violet 0px;
  display: flex;
  flex-direction: column;
}

.details-text p {
  text-transform: none;
  margin: 0px;
  font-weight: 500;
}


/* Zones */
.details-zones-cntr {
  display: flex;
  flex-direction: column;
}

.details-zones {
  width: auto;
  height: auto;
  margin: 5px 5px 2px 0px;
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  border: solid red 0px;
  align-items: center;
}

.details-zones span {
  margin-left: 5px;
}

.details-zones img {
  height: 40px;
  width: auto;
}


/* Dimentions details */
.details-inner-content {
  width: 100%;
  margin-top: 10px;
  border: solid green 0px;
  display: flex;
  flex-direction: column;
}

.details-dimentions-cntr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.details-dimentions {
  max-width: 200px;
  min-width: 150px;
  height: auto;
  margin: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  border: solid red 0px;
}

.dimentions-section>span:first-child {
  font-weight: 600;
}

