* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  /* cursor: none; */
}

/* .cursor {
  position: fixed;
  background: red;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 100;
} */

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: rgb(182, 214, 240);
  box-shadow: 0px 0px 15px 0px rgb(177, 177, 177);
}

ul {
  position: fixed;
  top: 4em;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(182, 214, 240);
  width: 100%;
  height: 100vh;
  text-align: center;
  animation: menu 0.5s ease-in-out;
}

li {
  padding: 1em;
  font-size: 1.5em;
}

li a {
  color: black;
}

.menu {
  display: none;
  transition: 0.2s;
}

@keyframes menu {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 100vh;
    opacity: 1;
  }
}

.open {
  display: block;
}

/* burger */
.burger {
  display: flex;
  justify-content: space-evenly;
  gap: 0.3em;
  flex-direction: column;
  cursor: pointer;
}

.line {
  background-color: black;
  height: 0.2em;
  width: 2em;
  transition: 0.2s;
  z-index: 2;
}

@keyframes line1 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
    position: absolute;
    top: 6%;
    right: 1%;
  }
}

@keyframes line2 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-45deg);
    position: absolute;
    top: 6%;
    right: 1%;
  }
}

@media screen and (max-width: 992px) {
  @keyframes line1 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(45deg);
      position: absolute;
      top: 5%;
      right: 5%;
    }
  }

  @keyframes line2 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-45deg);
      position: absolute;
      top: 5%;
      right: 5%;
    }
  }
}

.open .line1 {
  animation: line1 0.2s ease-in-out forwards;
}

.open .line2 {
  animation: line2 0.2s ease-in-out forwards;
}

.open .line3 {
  display: none;
}

/* logo */
.brand {
  max-width: 40%;
  z-index: 5;
}

.brand img {
  width: 100%;
}

/* pages */
h1 {
  text-align: center;
}

/* gsap test */

.home {
  height: 300vh;
}

.box {
  background-color: rgb(171, 212, 212);
  text-align: center;
  margin: 20% auto;
}

.box2,
.box3 {
  text-align: center;
  margin: 0 auto;
}

.line {
  width: 100%;
  max-width: 1400px;
  height: 20px;
  display: inline-block;
  background-color: #023047;
}

.cirkel {
  width: 200px;
  height: 200px;
  background-color: pink;
  border-radius: 100%;
  margin: 0 auto;
}

.firkant {
  width: 200px;
  height: 200px;
  background-color: black;
  margin: 0 auto;
}

.drag {
  width: 200px;
  height: 200px;
  background-color: rgb(118, 216, 118);
  margin: 0 auto;
  text-align: center;
  padding: 5% 0 0 0;
  font-weight: 900;
  border-radius: 20%;
}

.panels {
  font-family: sans-serif;
  min-height: 100vh;
}

.panel.orange {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: orange;
}

.panel.red {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: red;
}

/* mouse effect */
/* .mouse {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 5% 0 0 0;
} */
/* 
.shapes {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #2128bd;
  overflow: hidden;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}

.shape-1 {
  background: #005ffe;
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}

.shape-2 {
  background: #ffe5e3;
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}

.shape-3 {
  background: #ffcc57;
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

.content {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: white;
  mix-blend-mode: screen;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.content h1 {
  font-size: 6em;
}

.content p {
  font-size: 3em;
} */

/* Slides */
.slides-wrapper {
  display: flex;
  justify-content: center;
}

.slide {
  position: absolute;
  top: 20%;
  height: 50vh;
  opacity: 0;
}

.slide.current {
  opacity: 1;
}

/* Grid */
.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

.grid-image {
  width: 30%;
  position: relative;
  margin: 0.1em;
}

.grid-image img {
  width: 100%;
}

/* background */
.background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  filter: grayscale(100%);
  height: 100vh;
}

/* home */
.page {
  background-color: darkgray;
  height: 100vh;
  width: 100%;
}
/* info */
.flex {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

.classroom img {
  width: 100%;
}

.classroom {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.section1 .flex {
  flex-direction: column;
}

.section2 .classroom h2 {
  position: absolute;
}

.section2 {
  width: 50%;
  margin: 0 auto;
}
