/* ---------- ROOTS ---------- */
:root {
    /* Primary colors */
    --clr-yellow: #DCB12D;
    --clr-blue: #2E5599;
    --clr-red: #C5272D;
    --clr-green: #A9CB6B;
    --clr-white: #FFFFFF;
    --clr-black: #000000;
    --clr-d-grey: #363636;
    --clr-l-grey: #EAEAEA;

    /* Secondary colors */
    --clr-d-yellow: #A78726;
    --clr-d-blue: #0A1E5B;
    --clr-d-red: #8D2024;
    --clr-d-green: #56723C;
    --clr-l-yellow: #F6E1A1;
    --clr-l-blue: #AABFED;
    --clr-l-red: #FC9FAA;
    --clr-l-green: #E0F1C1;

    /* Text & Font */
    --ff-body: 'Averta', Verdana, Arial, sans-serif;
    --fs-p-main: 0.8750em; /* Main paragraph size */
    --fs-p-small: 0.7500em;
    --fs-p-large: 1em; 
    --fs-h-large: 3.125em; /* x-Large header size */
    --fs-h-medium: 1.625em; /* Med header size */
    --fs-h-small: 1.5em; /* Small header size */
}

/* ---------- FONT IMPORTS ---------- */
@font-face {
    font-family: 'Averta';
    src: url('assets/fonts/Averta/AvertaPE-Regular.woff2') format('woff2'),
         url('assets/fonts/Averta/AvertaPE-Regular.woff') format('woff'),
         url('assets/fonts/Averta/AvertaPE-Regular.ttf') format('truetype');
  }

/* ---------- GENERAL ---------- */
body {
    font-family: var(--ff-body);
    font-size: 14px; /* default size for em */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* cursor: none; */
}

p {
    font-size: var(--fs-p-main);
}

h1 {
    font-size: var(--fs-h-medium);
}

h2 h3 {
    font-size: var(--fs-h-small);
}

/* .cursor {
    position: fixed;
    background: red;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 100;
} */

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: rgb(182, 214, 240);
    box-shadow: 0px 0px 15px 0px rgb(177, 177, 177);
}

ul {
    position: fixed;
    top: 4em;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(182, 214, 240);
    width: 100%;
    height: 100vh;
    text-align: center;
    animation: menu 0.5s ease-in-out;
}

li {
    padding: 1em;
    font-size: 1.5em;
}

li a {
    color: black;
}

.menu {
    display: none;
    transition: 0.2s;
}

@keyframes menu {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 100vh;
        opacity: 1;
    }
}

.open {
    display: block;
}

/* burger */
.burger {
    display: flex;
    justify-content: space-evenly;
    gap: 0.3em;
    flex-direction: column;
    cursor: pointer;
}

.line {
    background-color: black;
    height: 0.2em;
    width: 2em;
    transition: 0.2s;
    z-index: 2;
}

@keyframes line1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(45deg);
        position: absolute;
        top: 6%;
        right: 1%;
    }
}

@keyframes line2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-45deg);
        position: absolute;
        top: 6%;
        right: 1%;
    }
}

@media screen and (max-width: 992px) {
    @keyframes line1 {
        from {
        transform: rotate(0deg);
        }

        to {
        transform: rotate(45deg);
        position: absolute;
        top: 5%;
        right: 5%;
        }
    }

    @keyframes line2 {
        from {
        transform: rotate(0deg);
        }

        to {
        transform: rotate(-45deg);
        position: absolute;
        top: 5%;
        right: 5%;
        }
    }
}

.open .line1 {
    animation: line1 0.2s ease-in-out forwards;
}

.open .line2 {
    animation: line2 0.2s ease-in-out forwards;
}

.open .line3 {
    display: none;
}

/* logo */
.brand {
    max-width: 40%;
    z-index: 5;
}

.brand img {
    width: 100%;
}

/* pages */
h1 {
    text-align: center;
}

/* gsap test */

.home {
    height: 300vh;
}

.box {
    background-color: rgb(171, 212, 212);
    text-align: center;
    margin: 20% auto;
}

.box2,
.box3 {
    text-align: center;
    margin: 0 auto;
}

.line {
    width: 100%;
    max-width: 1400px;
    height: 20px;
    display: inline-block;
    background-color: #023047;
    }

.cirkel {
    width: 200px;
    height: 200px;
    background-color: pink;
    border-radius: 100%;
    margin: 0 auto;
}

.firkant {
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 0 auto;
}

.drag {
    width: 200px;
    height: 200px;
    background-color: rgb(118, 216, 118);
    margin: 0 auto;
    text-align: center;
    padding: 5% 0 0 0;
    font-weight: 900;
    border-radius: 20%;
}

.panels {
    font-family: sans-serif;
    min-height: 100vh;
}

.panel.orange {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: orange;
}

.panel.red {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
}

/* mouse effect */
/* .mouse {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 5% 0 0 0;
} */
/* 
.shapes {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #2128bd;
    overflow: hidden;
}

.shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
}

.shape-1 {
    background: #005ffe;
    width: 650px;
    height: 650px;
    margin: -325px 0 0 -325px;
}

.shape-2 {
    background: #ffe5e3;
    width: 440px;
    height: 440px;
    margin: -220px 0 0 -220px;
}

.shape-3 {
    background: #ffcc57;
    width: 270px;
    height: 270px;
    margin: -135px 0 0 -135px;
}

.content {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: white;
    mix-blend-mode: screen;
    margin: 0 auto;
    text-align: center;
    color: black;
}

.content h1 {
    font-size: 6em;
}

.content p {
    font-size: 3em;
} */



/* Slides */
.slides-wrapper {
    display: flex;
    justify-content: center;
}

.slide {
    position: absolute;
    top: 20%;
    height: 50vh;
    opacity: 0;
}

.slide.current {
    opacity: 1;
}

/* Grid */
.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

.grid-image {
    width: 30%;
    position: relative;
    margin: 0.1em;
}

.grid-image img {
    width: 100%;
}

/* background */
.background {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
    filter: grayscale(100%);
    height: 100vh;
}

/* ---------- PAGE ---------- */
.page>.page-title {
    text-transform: uppercase;
    text-align: left;
}

/* ---------- GRID CONTAINER ---------- */
.category-cntr {
    margin: 5px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

@media (min-width: 600px) {
    .category-cntr {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .category-cntr {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.category-cntr>.category-article {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 5px 0px;
    padding: 0;
    background-color: #fff;
    color: #000;
    transition: ease-in .2s;
    cursor: pointer;
}

.category-cntr>.category-article>.category-img {
    background-image: url("/src/assets/placeholder-img.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px;
    max-width: 100%;
}

@media (min-width: 600px) {
    .category-cntr>.category-article>.category-img {
        height: 60px;
    }
}

@media (min-width: 992px) {
    .category-cntr>.category-article>.category-img {
        height: 60px;
    }
}

.category-cntr>.category-article>.category-img img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.category-article:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .4);
}

.article-title {
    word-wrap: wrap;
}

.article-title span {
    margin: 0px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}



/* ----- ARTICLE GRID ----- */
.article-cntr {
    margin: 0px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

@media (min-width: 600px) {
    .article-cntr {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .article-cntr {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.article-box {
    height: auto;
    margin-bottom: 2%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    transition: ease-in .2s;
}

.article-box:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .4);
}

.article-img {
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("/src/assets/placeholder-img.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.article-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-details {
    height: auto;
    width: auto;
    padding: 5px;
    color: #000;
    font-size: 1em;
    text-align: left;
    word-wrap: break-word;
}

.article-details p {
    margin: 0px;
}

.article-details p:first-of-type {
    margin: 0px;
    font-weight: 600;
    text-transform: capitalize;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ----- Filter / Search cntr ----- */
.filter-cntr {
    width: 100%;
    margin: 20px 0px 10px 0px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

.search {
    padding: 2px 5px;
    border-radius: 0px;
    border: solid black 1px;
    cursor: pointer;
    background-color: transparent;
}

.filter {
    margin-left: 5px;
    padding: 2px 5px;
    border-radius: 0;
    border: solid black 1px;
    cursor: pointer;
}

.filter>option {
    border-radius: 0;
    border: 0px;
    cursor: pointer;
}