Sofie Trolle Ómarsson
/* ---------- ROOTS ---------- */
:root {
  /* Primary colors */
  --clr-yellow: #DCB12D;
  --clr-blue: #2E5599;
  --clr-red: #C5272D;
  --clr-green: #A9CB6B;

  --white: #FFFFFF;
  --black: #000000;
  --d-grey: #363636;
  --l-grey: #EAEAEA;

  /* Secondary colors */
  --clr-d-yellow: #A78726;
  --clr-d-blue: #0A1E5B;
  --clr-d-red: #8D2024;
  --clr-d-green: #56723C;
  --clr-l-yellow: #F6E1A1;
  --clr-l-blue: #AABFED;
  --clr-l-red: #FC9FAA;
  --clr-l-green: #E0F1C1;

  /* Text & Font */
  --ff-body: 'Averta', Verdana, Arial, sans-serif;
  --fs-p-main: 14px; /* 0.8750em; / / Main paragraph size */
  --fs-p-small: 0.7500em;
  --fs-p-large: 1em; 
  --fs-h-large: 3.125em; /* x-Large header size */
  --fs-h-medium: 1.625em; /* Med header size */
  --fs-h-small: 1.5em; /* Small header size */
}


/* ---------- FONT IMPORTS ---------- */
@font-face {
  font-family: 'Averta';
  src: url('assets/fonts/Averta/AvertaPE-Regular.woff2') format('woff2'),
       url('assets/fonts/Averta/AvertaPE-Regular.woff') format('woff'),
       url('assets/fonts/Averta/AvertaPE-Regular.ttf') format('truetype');
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

body {
  font-family: var(--ff-body);
  font-size: 16px;
  overflow-x: hidden;
}

.modes {
  position: fixed;
  top: 3%;
  right: 7%;
  z-index: 200;
  cursor: pointer;
  display: flex;
  gap: 0.5em;
}

@media (max-width: 950px) {
  .modes {
    width: 100%;
    align-items: center;
    right: 50%;
    left: 50%;
  }
}

.darkmode {
  background-image: linear-gradient(#262626, #616161);
  color: var(--white);
}

.lightmode {
  background-image: linear-gradient(#616161, #cfcfcf);
  color: black;
}

.dark {
  color: #a78726;
}

.light {
  color: var(--white);
}

p {
  font-size: var(--fs-p-main);
}

span {
  font-size: var(--fs-p-main);
}

h1 {
  font-size: var(--fs-h-medium);
}

@media (max-width: 800px) {
  h1 {
    font-size: var(--fs-h-small);
  }

  h2 {
    font-size: 1.2em;
  }
}

h2 h3 {
  font-size: var(--fs-h-small);
}

img {
  width: 100%;
}

/* navbar */
.navbarcontainer {
  position: fixed;
  height: 5em;
  background-color: #262626;
  top: 0;
  display: flex;
  justify-content: flex-end;
  padding: 2em;
  width: 100%;
  z-index: 200;
  gap: 2em;
}

.burger {
  cursor: pointer;
  width: 30px;
  height: 20px;
}

.bars {
  width: 30px;
  height: 4px;
  background: var(--white);
}

.bars::before,
.bars::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: var(--white);
}

.bars::before {
  margin-top: 9px;
}

.bars::after {
  margin-top: 18px;
}

nav {
  position: absolute;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(#262626, #3d3d3d);
  display: flex;
  justify-content: center;
  align-items: center;
  right: -200vw;
  z-index: 100;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 50px 0;
}

nav ul li a {
  color: #fafafa;
  font-size: 2em;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

nav ul li a:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background: var(--white);
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

nav ul li a:hover:after {
  transform: scaleX(1);
}

nav .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

nav .close div::before,
nav .close div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: var(--white);
  transition: background 0.5s ease;
}

nav .close div::before {
  transform: rotate(-45deg);
}

nav .close div::after {
  transform: rotate(45deg);
}

nav .close:hover div::before,
nav .close:hover div::after {
  background: rgb(209, 3, 3);
}

/* navbar end */

/* logo */
.logowrapper {
  display: flex;
  position: relative;
  z-index: 200;
}

.logo {
  width: 70%;
}

.logoduts {
  width: 20%;
}

.dut {
  position: absolute;
  max-width: 22%;
}

/* logo end */

/* pages */
.section {
  text-align: center;
  width: 100%;
}

.fakta {
  text-align: center;
}

.headlines {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  gap: 1em;
  margin: 0 auto 5em auto;
}

.headlines h2 {
  margin: 2em 0;
  text-transform: uppercase;
  font-weight: 100;
}

.s1,
.s3,
.s4 {
  height: 100vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* section 1 */
#introduction {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: #262626;
  overflow: hidden;
  top: 0;
  left: 0;
}

.image-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.banner-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  background: var(--white);
  z-index: 999;
}

.image-container {
  background-color: #262626;
}

.content {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 2em;
  padding: 1em;
}

h1 {
  z-index: 0;
}

.inner-content {
  justify-content: space-between;
  align-items: b;
  color: var(--white);
  width: 80%;
  margin: 0 auto;
}

.line-progres {
  height: 0.1em;
  background-color: #a78726;
  width: 60%;
  max-width: 1400px;
  position: absolute;
  right: 8%;
  bottom: 12%;
}

.frontpage-logo {
  width: 20%;
  z-index: 10;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5em;
}

.fixet {
  position: fixed !important;
  top: 0;
}

/* section 2 */
.s2 {
  padding: 10em 0 0 0;
}

@media (max-width: 800px) {
  .s2 .flex-row {
    flex-direction: column;
  }

  .s2 .left {
    width: 80%;
  }

  .s2 .right {
    width: 100%;
  }

  .s2 .box {
    margin: 4em auto !important;
  }
}

.info {
  margin: 0 auto;
}

.anno {
  font-size: 4em;
}

.s2 .box {
  margin: 8em auto;
}

.s2 span {
  font-size: 0.5em;
}

.left {
  width: 40%;
  margin: 0 auto;
}

.left p {
  line-height: 2;
  font-size: 1em;
  text-align: left;
  margin: 0 auto 1em auto;
}

.right {
  width: 50%;
}

.right img {
  width: 80%;
  border-radius: 1em;
}

.keywords {
  text-transform: uppercase;
  font-weight: 100;
}

/* section 3 */
.s3 h2 {
  margin: 2em 0;
}

.s3 .flex-row {
  gap: 0;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .s3 .flex-row {
    flex-direction: column;
    align-items: center;
  }

  .imgdiv {
    width: 80% !important;
  }

  .headlines {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    gap: 1em;
    margin: 1em auto;
  }

  .s3 {
    height: 150vh;
  }
}

.imgdiv {
  width: 33.3%;
}

.imgdiv img {
  width: 100%;
}

/* section 4 */
#video {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: solid 3px black;
  border-radius: 20px;
  z-index: 1;
  width: 70%;
}

iframe {
  display: none;
}

@media (max-width: 800px) {
  .s4 {
    height: 60vh;
  }

  .videoplayer {
    display: none;
  }

  iframe {
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
}

/* section 5 */
.s5 {
  margin: 0 0 10em 0;
}

.roombefore {
  position: relative;
  background-image: url(./assets/imgs/rumfør-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30%;
  height: 40vh;
  filter: grayscale(50%);
}

.roomafter {
  position: relative;
  background-image: url(./assets/imgs/rum-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30%;
  height: 40vh;
  filter: grayscale(50%);
}

.roombefore:hover {
  filter: grayscale(0%);
}

.roomafter:hover {
  filter: grayscale(0%);
}

.sounds {
  display: flex;
  justify-content: space-evenly;
}

.soundbefore,
.soundafter {
  background-color: var(--white);
  padding: 1.5em;
  border-radius: 0.5em;
  font-size: 1em;
  box-shadow: 1px 1px 15px 1px rgb(0, 0, 0);
  border: solid 0.2em #a78726;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (max-width: 800px) {
  .sounds {
    display: flex;
    flex-direction: column;
  }

  .roombefore,
  .roomafter {
    width: 80%;
    margin: 2em auto;
  }
}

/* section 6 */

.contact-p {
  margin: 0 auto;
  font-size: 1em;
  letter-spacing: 0.1em;
  margin: 0 auto 4em auto;
}

/* form */
.form-container {
  display: flex;
  justify-content: center;
}

.formimg {
  width: 30%;
}

.formimg img {
  height: 50vh;
}

.form {
  background-color: white;
  padding: 4em;
  width: 40%;
  box-shadow: rgba(56, 56, 59, 0.596) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
}

.group {
  position: relative;
}

.form input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: rgba(255, 255, 255, 0);
}

.form input:focus {
  outline: none;
}

.form label {
  color: rgb(75, 75, 75);
  font-size: 1em;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #a78726;
}

input:focus ~ .formspan:before,
input:focus ~ .formspan:after {
  width: 50%;
}

.formspan {
  position: relative;
  display: block;
  width: 100%;
}

.formspan:before,
.formspan:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #a78726;
  transition: 0.2s ease all;
}

.formspan:before {
  left: 50%;
}

.formspan:after {
  right: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #a78726;
  }

  to {
    width: 0;
    background: transparent;
  }
}

.formbnt {
  border: solid 1px #a78726;
  margin: 0 auto;
  padding: 1em 1.5em;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.2em;
}

.formbnt:hover {
  color: white;
  background-color: #a78726;
}

@media (max-width: 800px) {
  .formimg {
    display: none;
  }

  .form {
    width: 80%;
    padding: 1em;
  }

  .contact-p {
    width: 80%;
  }
}

.s6 {
  padding: 0 0 10em 0;
}

/* ---------- PAGE ---------- */
.page {
  height: 100%;
  padding: 0.5em 2em;
}

.page > .page-title {
  text-transform: uppercase;
  text-align: left;
}

/* ---------- GRID CONTAINER ---------- */
.category-cntr {
  margin: 5px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.8em;
  row-gap: 0.2em;
}

@media (min-width: 600px) {
  .category-cntr {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .category-cntr {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.category-cntr > .category-article {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 5px 0px;
  padding: 0;
  background-color: var(--white);
  transition: ease-in 0.2s;
  cursor: pointer;
}

.category-cntr > .category-article .category-img {
  background-image: url("/src/assets/placeholder-img.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  height: 45px;
  width: 100%;
  position: relative;
}

@media (min-width: 600px) {
  .category-cntr > .category-article .category-img {
    height: 50px;
  }
}

@media (min-width: 992px) {
  .category-cntr > .category-article .category-img {
    height: 50px;
  }
}

.category-cntr > .category-article .category-img img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
  filter: brightness(80%);
  transition: ease-in 0.2s;
}

.category-article:hover .category-img img {
  filter: brightness(95%);
}

.category-article:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

.category-title {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.category-title button {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 1px 20px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  transition: ease-in-out 0.2s;
}

.category-title button.active {
  background-color: rgba(255, 255, 255, 0.4);
}

.category-title button span {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.8px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

/* ----- ARTICLE GRID ----- */
.article-cntr {
  margin: 0px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8em;
}

@media (min-width: 600px) {
  .article-cntr {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .article-cntr {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
}

.article-box {
  height: auto;
  margin-bottom: 2%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  transition: ease-in 0.2s;
}

.article-box:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

.article-box > .article-img {
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("/src/assets/placeholder-img.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.article-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-details {
  height: auto;
  width: auto;
  padding: 5px;
  color: #000;
  font-size: 1em;
  text-align: left;
  word-wrap: break-word;
}

.article-details p {
  margin: 0px;
}

.details-section {
  width: 100%;
  height: 25px;
  margin: 4px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.details-section p {
  margin: 0px;
  font-weight: 600;
  text-transform: capitalize;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ----- Article badges ----- */
.badge-cntr {
  width: auto;
  height: auto;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: solid red 0px;
}

.badge-element {
  width: auto;
  display: flex;
  flex-direction: column;
  border: solid blue 0px;
}

.badge-img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.badge-img img {
  height: 100%;
  width: auto;
}

/* ----- Tooltip ----- */
.tooltip {
  width: auto;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: var(--white);
  visibility: hidden;
  padding: 5px;
  border-radius: 5px;
  transform: translate(-75%, -130%);
  text-transform: capitalize;
}

.tooltip-arrow {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translate(-80%, -2%);
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent;
}

/* ----- Filter / Search cntr ----- */
.filter-cntr {
  width: 100%;
  margin: 20px 0px 10px 0px;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}

.search {
  padding: 2px 5px;
  border-radius: 0px;
  border: solid black 1px;
  cursor: pointer;
  background-color: transparent;
}

.filter {
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 0;
  border: solid black 1px;
  background-color: transparent;
  cursor: pointer;
}

.filter > option {
  border-radius: 0px;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
}

/* ---------- ARTICLE PAGE ---------- */
.article-page {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.article-page > .article-img {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.article-page > .article-img > img {
  width: auto;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.8);
}

.article-page > .article-details {
  border: solid red 0px;
  background-color: var(--l-grey);
}

.article-page > .article-details > .details-section {
  border: solid blue 0px;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
}

.article-page > .article-details > .details-section p {
  margin: 0px;
  font-weight: 500;
}

.details-text {
  border: solid violet 0px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.details-text p {
  text-transform: none;
}

.details-box {
  border: solid orange 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
  padding-bottom: 10px;
}

.details-inner-content {
  width: 100%;
  border: solid green 0px;
  display: flex;
  flex-direction: column;
}

/* footer */

footer {
  background-color: #302d2d;
  height: 8.5vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  z-index: 200;
}

@media (max-width: 800px) {
  footer {
    display: block;
  }
}
